<!DOCTYPE html>
<html>
  <head>
    <title>error</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <p><%= userLogged.nombre %> ya estas loggeado</p>
    <p><a href="/movies">Listado de Películas</a></p>
  </body>
</html>
