<!DOCTYPE html>
<html>
  <head>
    <title>error</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <p>debes loguearte para poder editar el listado de peliculas</p>
    <p><a href="/user/login">login</a></p>
  </body>
</html>
