<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bienvenido</title>
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <br>
    <h3 style="color: red;">Bienvenido <%= userLogged.nombre %> ahora podrás crear, editar y eliminar peliculas.</h3>
    <p><a href="/movies">Volver a la página principal</a></p>
<div>
       
</div>
</body>
</html>